body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #f5f6fa;
}

#root {
  min-height: 100vh;
}

/* Force icons to display in horizontal menu */
.ant-menu-horizontal .ant-menu-item-icon {
  display: inline-block !important;
  margin-right: 8px;
}

.ant-menu-horizontal .anticon {
  display: inline-block !important;
  margin-right: 8px;
}
